<!DOCTYPE html public "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en-US">
	<head>
		<meta charset="utf-8">
		<title>Courses</title>
		{% load staticfiles %}
		<link rel='stylesheet' type='text/css' href="{% static 'courses/style.css' %}">
	</head>
  <body>
    <div id='wrapper'>
      <h2>Delete {{ course.course_name }}?</h2>
      <h3>Description: {{ description.text }}?</h3>
      <a href="/remove_{{ course.id }}">Yes</a>
      <a href="/">Neh.</a>
    </div>
  </body>
</html>
